body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
  }

  header {
    background-color: #fff;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

  nav {
    background-color: #fff;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

  .nav-links{
	flex: 1%;
	text-align: center;
  }

  .nav-links ul li{
 	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}
.nav-links ul li a{
    font-family: initial;
   	color: #a85d12;
	text-decoration: none;
    font-size: 24px;
}


.section1 {
    color: #fff;
    padding: 20px;
    text-align: center;
    background-image: url("images/hotel.png");
    

  }

.button{
     text-decoration: none;
    color: #fff;
    background-color: #cd7d2c;
    border: #cd7d2c;
}
.button a{
    text-decoration: none;
color: #fff;
}



















  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
 }
 