body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}
header {
  padding-top: 20px;
  background-color: #fff;
  color: #fff;
   text-align: center;
}
nav { 
  color: #fff;
  text-align: center;
}

.nav-links {
  flex: 1;
  text-align: center;
}

.nav-links ul li {
   list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  font-family: 'Ubuntu', sans-serif;
  color: #957554;
  text-decoration: none;
  font-size: 18px;
}

.row{
  margin-top: 0px;
  background: #111111;
}

.container{
  padding: 22px;
  text-align: center;

 }


/* Apply styles to the select element */
.row select {
  font-family: 'Ubuntu', sans-serif;
  border-radius: 7px;

   cursor: pointer;
  color: #000000;
  width: 150px;
  padding: 10px;
  font-size: 16px;
}

/* Style each option */
.row select option {
  padding: 5px;
  font-size: 14px;
}

/* Style the nested options to create a hierarchy effect */
.row select option[value^="10"],
option[value^="15"],
option[value^="28"] {
  margin-left: 15px;
  font-weight: bold;
}


.button1 {
  display: inline-block;
  border-radius: 7px;
  padding: 12px 24px;
  font-size: 15px;
  background: transparent;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  background-color: #DFAA5B;
  border: #DFAA5B;
}

.button1 a {
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 15px;
  }

  .row select {
    width: 100%;
    margin-bottom: 10px;
  }

  .button1 {
    width: 92%;
  }
}
 
.section1 {
  background-repeat: no-repeat;
  background-size: cover;
   
  margin-top: 0;
  color: #FFFFFF;
  text-align: center;
  background-image: url("images/hotel.png");
  z-index: -1;
}

.con1 {
  padding: 15%; /* Adjust padding for better spacing on smaller screens */
}

.con1 p {
  color: #FFF;
  font-family: 'Segoe UI', sans-serif; /* Use Segoe UI as the font family */
  font-size: 4vw; /* Adjust font size relative to the viewport width for responsiveness */
  font-weight: 700;
  line-height: 1.2; /* Adjust line height for better readability */
}

.button {
  min-width: 150px; /* Adjust minimum width for responsiveness */
  display: inline-block;
  border-radius: 7px;
  padding: 12px 24px;
  font-size: 1.5vw; /* Adjust font size relative to the viewport width */
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  background-color: #DFAA5B;
  border: #DFAA5B;
}

.button a {
  color: #FFF;
 
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
   
}

/* Media Query for small screens */
@media only screen and (max-width: 600px) {
  .row select,
  .button {
    width: 100%; /* Adjust styles for small screens */
  }

  .container {
    padding: 10px; /* Adjust padding for small screens */
  }

  .section1 {
    background-size: contain; /* Adjust background size for small screens */
  }
}

 
.section2 {
  margin: auto;
   max-width: 80vw;
  background-color: #FFFFFF;
  margin-top: -6%;
  text-align: center; /* Center-align the section2 content */
  padding-top: 5px; /* Add padding for better spacing */
}

.sec2 {
  color: #957554;
  font-family: 'Ubuntu', sans-serif;
  font-size: 3rem; /* Adjust font size for better responsiveness */
  font-weight: 500;
  line-height: normal;
}

.secf2 {
  font-family: 'Ubuntu', sans-serif;
  color: #957554;
  font-size: 1.5rem; /* Adjust font size for better responsiveness */
  font-weight: 400;
  line-height: normal;
}

/* Flex-container styles */
.flex-container {
  padding: 5%; /* Adjust padding for better responsiveness */
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */
  justify-content: space-around; /* Adjust to space-around for better alignment */
}

.flex-item {
  text-align: center;
  flex: 1; /* Allow items to take equal width */
  max-width: 200px; /* Limit the maximum width of each flex-item */
  margin: 10px; /* Add margin for spacing between items */
}

.flex-item img {
  width: 100%; /* Make images responsive within flex-item */
  max-width: 60px; /* Set a maximum width for the images */
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px;
}

.secR{
  margin: auto;
 text-align: center;
}

.secR p{
  padding: 0px;
  color: #957554;
  font-family: 'Ubuntu', sans-serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}


.secG {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 65px;
  padding-right: 5%;
   padding-left: 5%;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.secGd {
  align-items: center;
  padding-top: 50%;
  padding-bottom: 10%;
  text-align: center;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.secGd p {
  color: #FFF;
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.button2 {
  border-radius: 7px;
  padding: 12px 24px;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  background-color: #DFAA5B;
  border: #DFAA5B;
  font-family: 'Ubuntu', sans-serif;
}

.secGd1 {
  background-image: url(images/r1.png);
}

.secGd2 {
  background-image: url(images/r2.png);
}



.secG1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 65px;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 5%;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.secGd11 {
  align-items: center;
  padding-top: 50%;
  padding-bottom: 10%;
  text-align: center;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.secGd11 p {
  color: #FFF;
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.button2 {
  max-width: 200px;
  border-radius: 7px;
  padding: 12px 24px;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  background-color: #DFAA5B;
  border: #DFAA5B;
  font-family: 'Ubuntu', sans-serif;
}

.secGd11 {
  background-image: url(images/r3.png);
}

.secGd21 {
  background-image: url(images/r5.png);
}


.secTb {
  padding: 5%; /* Adjust padding for better spacing */
  text-align: center;
  background: #FFFFFF;
}

.tb {
  margin-top: 0px;
  padding: 0px;
  color: #957554;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem; /* Adjust font size for better responsiveness */
  font-weight: 500;
  line-height: normal;
}

.button13 {
  min-width: 250px; /* Adjust the minimum width for responsiveness */
  display: inline-block;
  border-radius: 7px;
  padding: 12px 24px;
  font-size: 1rem; /* Adjust font size for better responsiveness */
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  background-color: #DFAA5B;
  border: #DFAA5B;
  font-family: 'Ubuntu', sans-serif;
}

/* Adjusting button styles for better responsiveness */
.button13 a {
  text-decoration: none;
  color: #FFFFFF;
}

 
footer {
  margin: 0px;
  padding: 30px;
  padding-bottom: 12%;
  background-color: #111111;
  color: #FFF; 
   gap: 10%;
  display: flex;
   
}
 
.div1{
  color: #FFF; 
    }

.div1 p{
color: #FFF;
font-family: 'Ubuntu', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
 
.div2{
  
color: #FFF;
   
}
.div2 ul li{
  list-style: none;
  text-decoration: none;
 }
.div2 ul li a{
  color: #FFF;
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;   
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.div3{
   color: #FFF;
 
  }
.div3 p{
  color: #FFF;
  font-family: 'Ubuntu', sans-serif;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.div3 a{
  text-decoration: none;
  color: #FFF;
  font-family: 'Ubuntu', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.input{
  
  color: rgba(0, 0, 0, 0.50);
  font-family: 'Ubuntu', sans-serif;
font-size: 17px;
font-style: normal;
font-weight: 300;
line-height: normal;
border: #ffffff;
border-radius: 7px;
padding: 12px 14px;
min-width: 200px;
}
.btn{
  text-align: center;
 min-width: 200px;
display: inline-block;
border-radius: 7px;
padding: 12px 24px;
font-size: 1rem; /* Adjust font size for better responsiveness */
cursor: pointer;
text-decoration: none;
color: #fff;
background-color: #DFAA5B;
border: #DFAA5B;
font-family: 'Ubuntu', sans-serif;
}
 
@media only screen and (max-width: 600px) {
  footer {
    flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
  }

  .div1,
  .div2,
  .div3 {
    width: 100%; /* Full width on smaller screens */
    text-align: center; /* Center text on smaller screens */
  }

  .div2 ul li {
    margin-bottom: 10px; /* Add some space between list items on smaller screens */
  }

  .input {
    width: 100%; /* Full width on smaller screens */
    box-sizing: border-box; /* Include padding and border in the element's total width */
    margin-bottom: 10px; /* Add some space between input and button on smaller screens */
  }

  .btn {
    width: 100%; /* Full width on smaller screens */
  }
}